{% extends 'layout/pagearticle.html' %} 

{% load static %}

{% block content %} 

    
<div class = bread_container>


    <ul class="breadcrumb">
      <li><a href="#">{{article.title}}</a></li>
      <li><a href="#">المقالات البرمجية</a></li>
      <li><a href="/">الرئيسية</a></li>
    </ul>
    </div>
    <div class="quest">
      
      <a href="{% url 'user_quest' %}" class="gray_background"><bdi>الذهاب الى مقالاتي</bdi></a>
      <a href="{% url 'add_article' %}"><bdi><span class="pluse">+ </span>اضافة مقال</bdi></a>
    </div>


  <div class="container main_box">
    
        <div class="article_show">
            <h2>{{article.title}}</h2>
            <p>{{article.bio}}</p>
            <p>by: {{article.auther}}</p>
            <h4>{{article.body|safe}}</h4>
        </div>

</div>  






{% endblock %}